
<h2 class="text-center mt-3 text-info">6 days workout schedule</h2>
<div class="row mx-auto mt-3 ">
    <div class="col-sm"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1597452485669-2c7bb5fef90d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlc3QlMjB3b3Jrb3V0fGVufDB8fDB8fHww" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Chest</h5>
          <p class="card-text">Barbell Bench Press · Dumbbell Bench Press · Incline Bench Press · Decline Press · Machine Chest Press · Push-Up · Dip · Chest Fly.</p>
          <a href="#" class="btn btn-primary">Detailed workout here</a>
        </div>
      </div></div>
    <div class="col-sm"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/1486887865/photo/a-focused-sportsman-is-sitting-in-a-gym-and-doing-exercises-for-the-biceps-and-triceps-with-a.webp?b=1&s=170667a&w=0&k=20&c=D-x8A3nvPYni6RLu5i5jSkkMl-v1MyC9Br5e0YZ7t9s=" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Biecep</h5>
          <p class="card-text"> Barbell or EZ-Bar Curl · Cable Curl · Dumbbell Curl · Chin-Up · Reverse-Grip Barbell Row · Hammer Curl · Incline Curl ·</p>
          <a href="#" class="btn btn-primary">Detailed workout here</a>
        </div>
      </div></div>
    <div class="col-sm"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1599577456698-e1e9ae4f4e5b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFjayUyMHdvcmtvdXR8ZW58MHx8MHx8fDA%3D" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Back</h5>
          <p class="card-text"> Deadlift · Bent-Over Row · Pull-Up · T-Bar Row · Seated Row · Single-Arm Smith Machine Row · Lat Pull-Down · Single-Arm Dumbbell Row.</p>
          <a href="#" class="btn btn-primary">Detailed workout here</a>
        </div>
      </div></div>
  </div>
  <div class="row mx-auto mt-3">
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwqTxOigRMCb9F1jwM2J4v33f1i1AcgbJ8ng&usqp=CAU" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Shoulder</h5>
            <p class="card-text">Shoulder Press · Lateral Raises · Front Raises · Shrugs · Upright Rows · Face Pulls.</p>
            <a href="#" class="btn btn-primary">Detailed workout here</a>
        </div>
    </div>
</div>


<div class="col-sm">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1596357395217-80de13130e92?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGxlZyUyMHdvcmtvdXR8ZW58MHx8MHx8fDA%3D" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Legs</h5>
            <p class="card-text">Squats · Lunges · Leg Press · Deadlifts · Leg Curls · Calf Raises.</p>
            <a href="#" class="btn btn-primary">Detailed workout here</a>
        </div>
    </div>
</div>


<div class="col-sm">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1uvOCsMvxJlj7FnRVkmMkkZitqD_TZ6O1kw&usqp=CAU" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Abs</h5>
            <p class="card-text"> 1. Ab Wheel Rollout · 2. Arms-High Partial Situp · 3. Barbell Rollout · 4. Barbell Russian Twist · 5. Swiss Ball Crunch.</p>
            <a href="#" class="btn btn-primary">Detailed workout here</a>
        </div>
    </div>
</div>
</div>