<h2 class="text-center mt-3 text-info">WORKOUT CATEGORIES</h2>
<p class="text-center py-2" style="font-size: 18px;">Select the category that most closely matches the workout you're looking for</p>
<div>
    <figure>
      <img src="https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="30%">
      
    </figure>
    <figure>
        <img src="https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d29ya291dCUyMHdvbWVuJTIwZ3ltfGVufDB8fDB8fHww" alt="" width="30%">
       
      </figure>
    
  
    <figure>
      <img src="https://images.unsplash.com/photo-1607962837359-5e7e89f86776?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGZhdCUyMGxvc3MlMjB3b3Jrb3V0fGVufDB8fDB8fHww" alt="" width="30%">
      
    </figure>
  </div>
  <div class="caption">
    <span><a routerLink="men" >Workout For Men</a></span>
    <span><a href="">Workout For Women</a></span>
    <span><a href="">Fat Loss</a></span>
  </div>
  <div>
    <figure>
      <img src="https://images.unsplash.com/photo-1592967547619-491e36f79e7d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aG9tZSUyMHdvcmtvdXR8ZW58MHx8MHx8fDA%3D" alt="" width="30%">
      
    </figure>
  
    <figure>
        <img src="https://plus.unsplash.com/premium_photo-1672863647710-1f68f52f735f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHdvcmtvdXR8ZW58MHx8MHx8fDA%3D" alt="" width="30%">
        
      </figure>
  
    <figure>
      <img src="https://cdn.muscleandstrength.com/sites/default/files/styles/400x250/public/taxonomy/image/workouts/beginner_0.jpg?itok=FZ8Nje_W" alt="" width="30%">
    
    </figure>
  </div>
  <div class="caption">
    <span><a href="">Workout at home</a></span>
    <span><a href="">Cardio</a></span>
    <span style="padding-left: 90px;"><a href="">Beginner</a></span>
  </div>
  <router-outlet></router-outlet>