<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: green;">FitnessFreak</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-4">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" routerLink="workout">Workout Plans</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" routerLink="nutrition">Nutrition</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" routerLink="performance">Perfomance</a>
        </li>
       
      </ul>
     
      <ul class="navbar-nav mx-5 mx-5 "  id="signButton" >
          <li class="nav-item ml-5">
              <a class="nav-link btn btn-outline-link btn-link" routerLink="signIn" style="color: rgb(0, 162, 255);">Sign In</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link btn btn-primary" routerLink="signUp" style="color: white;">Sign Up</a>
            </li>
            <li class="nav-item ml-3 mx-5" >
              <a class="nav-link btn btn-dark" routerLink="showUsers" style="color: white;">Show Users</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  
  <div class="footer-content">
   
    <div class="footer-info">
      <p>&copy; 2023 FitnessFreak. All rights reserved.</p>
      <p>123 Fitness Street, Workout City</p>
      <p>Email: info@fitnessfreak.com</p>
    </div>
 
  </div>
</footer>